<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h2>Clientes</h2>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo Electrónico</th>
            <th>Código Postal</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataClientes">
            <td>{{item.IDCliente}}</td>
            <td>{{item.Nombre}}</td>
            <td>{{item.Direccion}}</td>
            <td>{{item.Telefono}}</td>
            <td>{{item.Correo}}</td>
            <td>{{item.CP}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm">Editar</button>
              <button type="button" class="btn btn-danger btn-sm">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-outline-success" routerLink="/agregarcli" routerLinkActive="active">Agregar Cliente</button>
    </div>

    <div class="col-md-6">
      <h2>Autos</h2>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID Cliente</th>
            <th>Nombre</th>
            <th>Placa</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataAutos">
            <td>{{item.IDCliente}}</td>
            <td>{{item.Nombre}}</td>
            <td>{{item.Placa}}</td>
            <td>{{item.Marca}}</td>
            <td>{{item.Modelo}}</td>
            <td>{{item.Ano}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
